.App {
  text-align: center;
  /* position: relative; */
  /* background-color: rgba(234, 211, 211, 0.151); */
  /* min-height: 100vh; */
}

/* .bl{
  background-color: rgb(220, 172, 109);
  height: 300px;
  width: 300px;
border-radius: 50%;
z-index: -1;
} */

